@import '../../../../styles/variables';

.navbar-container {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;

  &-dropdown {
  }

  &-logo {
    width: 2rem;
    height: 2rem;
    background: url("../../../../assets/logo/logo.svg") no-repeat center;
    background-size: contain;

  }

  &-actions {
  }
}
