@use '@angular/material' as mat;

@include mat.core();

$MyApp-black-palette: (
  100: #000000,
  500: #000000,
  700: #000000,
  contrast: (
    100:#ffffff,
    500: #ffffff,
    700: #ffffff,
  )
);

$custom-font: mat.define-typography-config($font-family: '"Inter", sans-serif');
$MyApp-primary: mat.define-palette(mat.$indigo-palette);
$MyApp-accent: mat.define-palette($MyApp-black-palette);
$MyApp-warn: mat.define-palette(mat.$red-palette);

$MyApp-theme: mat.define-light-theme((
  color: (
    primary: $MyApp-primary,
    accent: $MyApp-accent,
    warn: $MyApp-warn,
  ),
  typography: $custom-font,
  density: 0
));

@include mat.typography-hierarchy($custom-font);
@include mat.all-component-themes($MyApp-theme);
