#loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-out;

  .logo {
    display: flex;
    align-items: center;

    .header {
      font-size: $font-size-main-text;
      font-weight: $font-semi-bold;
    }

    .image {
      width: 5rem;
      height: 5rem;
      background: url("../assets/logo/logo.svg") no-repeat center;
      background-size: contain;
    }
  }

  .loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
  }

  @keyframes l5 {
    0% {
      box-shadow: 20px 0 #000, -20px 0 #0002;
      background: #000
    }
    33% {
      box-shadow: 20px 0 #000, -20px 0 #0002;
      background: #0002
    }
    66% {
      box-shadow: 20px 0 #0002, -20px 0 #000;
      background: #0002
    }
    100% {
      box-shadow: 20px 0 #0002, -20px 0 #000;
      background: #000
    }
  }
}

#loading-screen.fade-out {
  opacity: 0;
}
