<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    @if (isLoading) {
      <div>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </div>
    } @else {
      <div class="col-12 col-sm-12 col-md-10">
        <app-my-team
          [myTeam]="myTeam"
          [myMembers]="myMembers"
          (updateResources)="handleUpdateResources()" />
      </div>
      <div class="col-12 col-sm-12 col-md-10">
        <app-available-members
          [myTeam]="myTeam"
          [availableMembers]="availableMembers"
          (updateResources)="handleUpdateResources()" />
      </div>
    }
  </div>
</div>
