//Import variables
@import 'styles/variables.scss';
@import 'styles/custom-theme-material.scss';
@import 'styles/fonts.scss';
@import 'styles/custom-styles.scss';
@import 'styles/loading-screen.scss';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-size: $font-size-normal;
}

