//Import variables
@import 'styles/variables.scss';
@import 'styles/loading-animations';
@import "styles/common";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  touch-action: manipulation;
}
