<div class="container-fluid">
  <div class="row justify-content-center mt-5">
    <div class="col-10 col-md-4 col-lg-3">
      <form [formGroup]="form" class="signin-from">
        <mat-form-field>
          <mat-label>email</mat-label>
          <input formControlName="email" matInput />
        </mat-form-field>
        <mat-form-field>
          <mat-label>password</mat-label>
          <input type="password" formControlName="password" matInput />
        </mat-form-field>

        <button
          (click)="submit()"
          mat-flat-button
          [class.spinner]="isLoading"
          [disabled]="isLoading"
          class="custom-button"
          color="accent">
          signup
        </button>
      </form>
    </div>
  </div>
</div>
