@if (loggedInUser$()) {
  <button matTooltip="My Profile" mat-icon-button [routerLink]="[PATH.ACCOUNT]">
    <mat-icon>person</mat-icon>
  </button>
}
<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu class="!bg-white" #menu>
  @if (!loggedInUser$()) {
    <button mat-menu-item [routerLink]="[PATH.ACCOUNT, PATH.SIGN_UP]">
      Sign up
      <mat-icon>person_add</mat-icon>
    </button>
    <button mat-menu-item [routerLink]="[PATH.ACCOUNT, PATH.SIGN_IN]">
      {{ 'SignIn' | translate }}
      <mat-icon>login</mat-icon>
    </button>
  } @else {
    <button mat-menu-item [routerLink]="[PATH.MARKETPLACE]">
      Marketplace
      <mat-icon>shop</mat-icon>
    </button>
    <button mat-menu-item [routerLink]="[PATH.DASHBOARD]">
      Dashboard
      <mat-icon>dashboard</mat-icon>
    </button>
    <button mat-menu-item [routerLink]="[PATH.FINANCE]">
      Finance
      <mat-icon>account_balance</mat-icon>
    </button>
    <button mat-menu-item [routerLink]="[PATH.MANAGEMENT]">
      Management
      <mat-icon>domain</mat-icon>
    </button>
    <button mat-menu-item [routerLink]="[PATH.ACCOUNT, PATH.SETTINGS]">
      Settings
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-menu-item [routerLink]="[PATH.HOME]" (click)="logout()">
      Logout
      <mat-icon>logout</mat-icon>
    </button>
  }
</mat-menu>
