<div
  class="grid grid-cols-1 sm:grid-cols-2 m-2 shadow-md rounded bg-gradient-to-r from-white to-gray-400">
  <div class="col-span-1 min-h-52 flex justify-center items-center">
    <div class="flex flex-col justify-center items-start px-4">
      <p class="font-semibold text-xl">{{ 'FreeResources' | translate }}</p>
      <button
        mat-flat-button
        color="accent"
        [routerLink]="['/', PATH.ACCOUNT, PATH.SIGN_UP]">
        {{ 'GetAccessNow' | translate }}
      </button>
    </div>
  </div>

  <div class="col-span-1 flex justify-center">
    <img
      class="object-cover"
      src="assets/images/home_page_welcome.svg"
      alt="access image" />
  </div>
</div>
