<div class="d-flex justify-content-between align-items-center mt-2 mb-2 ms-2">
  <div class="d-flex align-items-center gap-2">
    <div>
      @if (myTeam) {
        <h2>{{ myTeam.name }}</h2>
      }
      <h2 class="m-0">MyTeam members</h2>
    </div>
  </div>
  <div class="navbar-container-dropdown">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu>
      <button mat-menu-item (click)="createAndEditTeam()">
        {{ myTeam ? 'Edit' : 'Create' }}
      </button>
      <button
        mat-menu-item
        [disabled]="!myTeam || !myMembers.length"
        (click)="downloadList()">
        Download List
      </button>
      <button [disabled]="!myTeam" mat-menu-item (click)="closeTeam()">
        Remove
      </button>
    </mat-menu>
  </div>
</div>
<mat-divider></mat-divider>
<mat-list>
  @for (member of myMembers; track member) {
    <mat-list-item
      >{{ member.name | titlecase }}
      {{ member.surname | titlecase }}
    </mat-list-item>
  }
</mat-list>
