<div
  class="m-2 p-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 rounded shadow-md bg-white">
  <div class="col-span-1">
    <div class="flex flex-col gap-4">
      <div class="w-20 h-20 bg-logo bg-center bg-no-repeat bg-contain"></div>
      <div>
        <p class="text-gray-500">
          {{ 'BuiltBy' | translate }} Filip Rybiński.<br />{{
            'PoweredBy' | translate
          }}
          Webflow.
        </p>
        <p class="text-gray-500">
          © 2024. {{ 'AllRightsReserved' | translate }}.
        </p>
      </div>
    </div>
  </div>
  <div class="col-span-1">
    <div>
      <p class="text-gray-400 uppercase">{{ 'Websites' | translate }}</p>
      <ul class="list-style capitalize">
        <li class="ps-2 py-1">{{ 'Home' | translate }}</li>
        <li class="ps-2 py-1">{{ 'Resources' | translate }}</li>
        <li class="ps-2 py-1">{{ 'TermsAndConditions' | translate }}</li>
        <li class="ps-2 py-1">{{ 'PrivacyPolicy' | translate }}</li>
        <li class="ps-2 py-1">{{ 'Facebook' | translate }}</li>
      </ul>
    </div>
  </div>
  <div class="col-span-1">
    <div>
      <p class="text-gray-400 uppercase">{{ 'Membership' | translate }}</p>
      <ul class="list-style capitalize">
        <li class="ps-2 py-1">{{ 'SignIn' | translate }}</li>
        <li class="ps-2 py-1">{{ 'SignUp' | translate }}</li>
        <li class="ps-2 py-1">{{ 'UserAccount' | translate }}</li>
        <li class="ps-2 py-1">{{ 'ResetPassword' | translate }}</li>
        <li class="ps-2 py-1">{{ 'Status' | translate }}</li>
      </ul>
    </div>
  </div>
  <div class="col-span-1">
    <div>
      <p class="text-gray-400 uppercase">{{ 'About' | translate }}</p>
      <ul class="list-style capitalize">
        <li class="ps-2 py-1">
          <a
            class="no-underline text-black"
            href="https://www.myappzone.pl:8082/swagger/index.html"
            >{{ 'Documentation' | translate }}</a
          >
        </li>
        <li class="ps-2 py-1">{{ 'Licenses' | translate }}</li>
        <li class="ps-2 py-1">{{ 'Instructions' | translate }}</li>
        <li class="ps-2 py-1">{{ 'Password' | translate }}</li>
      </ul>
    </div>
  </div>
</div>
