//Import variables
@import '../../../styles/variables';

.main {
  background-color: $default-bg-color;

  .learn-more {
    background: url("/assets/background-images/landing-page-bg.png") no-repeat left bottom;

  }

  .assign-you {
    background: url("/assets/background-images/landing-page-bro.png") no-repeat center center;
  }
}
