@import "../../../../styles/variables";

.welcome-section {
  padding-top: 3rem;
  background: $light-grey;
  background: -webkit-linear-gradient(to right, $darker-white, $light-grey);
  background: linear-gradient(to right, $darker-white, $light-grey);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.welcome-text {
  font-weight: $font-semi-bold;
}
