@import "../../../../styles/variables";

.welcome-section {
  padding: 3rem 0;
  background: $light-grey;
  background: -webkit-linear-gradient(to right, $darker-white, $light-grey);
  background: linear-gradient(to right, $darker-white, $light-grey);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.welcome-image {
  background: url("../../../../assets/images/resources.svg") no-repeat center;
  background-size: cover;
}

.welcome-text {
  font-size: $font-size-main-text;
  font-weight: $font-semi-bold;
  height: fit-content;
  line-height: 3rem;
}
