@import "../../../../styles/variables";

.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  .logo-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .logo {
      display: flex;
      align-items: flex-end;

      .icon {
        width: 5rem;
        height: 5rem;
        background: url("../../../../assets/logo/logo.svg") no-repeat center;
        background-size: contain;
      }
    }

    .info {
      color: $grey;
    }
  }

  .title {
    text-transform: uppercase;
    color: $light-grey;
  }

  .list-style {
    padding: 0;
    list-style: none;
    text-transform: capitalize;

    > * {
      margin-bottom: 0.5rem;

      > * {
        text-decoration: none;
        color: black;
      }
    }
  }
}

