<div
  class="m-2 p-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4 rounded shadow-md bg-white">
  <div class="col-span-1">
    <div class="flex flex-col gap-4">
      <div class="w-20 h-20 bg-logo bg-center bg-no-repeat bg-contain"></div>
      <div>
        <p class="text-gray-500">
          Built by Filip Rybiński.<br />Powered by Webflow.
        </p>
        <p class="text-gray-500">© 2024. All Rights Reserved.</p>
      </div>
    </div>
  </div>
  <div class="col-span-1">
    <div>
      <p class="text-gray-400 uppercase">website</p>
      <ul class="list-style capitalize">
        <li class="ps-2 py-1">home</li>
        <li class="ps-2 py-1">resources</li>
        <li class="ps-2 py-1">terms & conditions</li>
        <li class="ps-2 py-1">privacy policy</li>
        <li class="ps-2 py-1">facebook</li>
      </ul>
    </div>
  </div>
  <div class="col-span-1">
    <div>
      <p class="text-gray-400 uppercase">membership</p>
      <ul class="list-style capitalize">
        <li class="ps-2 py-1">sign in</li>
        <li class="ps-2 py-1">sign up</li>
        <li class="ps-2 py-1">user account</li>
        <li class="ps-2 py-1">reset password</li>
        <li class="ps-2 py-1">status</li>
      </ul>
    </div>
  </div>
  <div class="col-span-1">
    <div>
      <p class="text-gray-400 uppercase">about</p>
      <ul class="list-style capitalize">
        <li class="ps-2 py-1">
          <a
            class="no-underline text-black"
            href="https://www.myappzone.pl:8082/swagger/index.html"
            >documentation</a
          >
        </li>
        <li class="ps-2 py-1">licenses</li>
        <li class="ps-2 py-1">instructions</li>
        <li class="ps-2 py-1">password</li>
        <li class="ps-2 py-1">404</li>
      </ul>
    </div>
  </div>
</div>
