<div class="container-fluid mt-5">
  <div class="row justify-content-md-center">
    <div class="logo-section col-12 col-md-3">
      <div class="logo">
        <div class="icon"></div>
      </div>
      <p>Built by Filip Rybiński.<br />Powered by Webflow.</p>
      <p>© 2024. All Rights Reserved.</p>
    </div>
    <div class="section col-6 col-md-2">
      <p class="title">website</p>
      <ul class="list-style">
        <li>home</li>
        <li>resources</li>
        <li>terms & conditions</li>
        <li>privacy policy</li>
        <li>facebook</li>
      </ul>
    </div>
    <div class="section col-6 col-md-2">
      <p class="title">membership</p>
      <ul class="list-style">
        <li>sign in</li>
        <li>sign up</li>
        <li>user account</li>
        <li>reset password</li>
        <li>status</li>
      </ul>
    </div>
    <div class="section col-12 col-md-2">
      <p class="title">about</p>
      <ul class="list-style">
        <li>
          <a href="https://www.myappzone.pl:8082/swagger/index.html"
            >documentation</a
          >
        </li>
        <li>licenses</li>
        <li>instructions</li>
        <li>password</li>
        <li>404</li>
      </ul>
    </div>
  </div>
</div>
