@import "../../../../styles/variables";

.logo-section {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: $grey;

  .logo {
    display: flex;
    align-items: flex-end;

    .icon {
      width: 5rem;
      height: 5rem;
      background: url("../../../../assets/logo/logo.svg") no-repeat center;
      background-size: contain;
    }
  }
}

.section {
  padding-bottom: 24px;

  .title {
    text-transform: uppercase;
    color: $light-grey;
  }

  .list-style {
    padding: 0;
    list-style: none;
    text-transform: capitalize;

    > * {
      padding: 5px 0;

      > * {
        text-decoration: none;
        color: black;
      }
    }
  }
}



