<div class="login-container">
  <div class="login-container-logo"></div>
  <form class="login-container-form">
    <mat-form-field>
      <mat-label>User name</mat-label>
      <input matInput placeholder="User name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" />
    </mat-form-field>
    <div class="login-container-action">
      <button mat-flat-button color="primary" (click)="closeLoginDialog()">
        cancel
      </button>
      <button mat-flat-button color="primary">Login</button>
    </div>
  </form>
</div>
