<div class="d-flex justify-content-between align-items-center mt-2 mb-2 ms-2">
  <h2 class="m-0">Available members</h2>

  <div class="d-flex gap-4 align-items-center">
    <mat-slide-toggle [(ngModel)]="listView"></mat-slide-toggle>
    <button
      mat-flat-button
      class="custom-button"
      color="accent"
      [disabled]="!myTeam"
      (click)="inviteMembers()">
      Invite
    </button>
  </div>
</div>
<mat-divider></mat-divider>
@if (listView) {
  <mat-selection-list>
    @for (member of availableMembers; track member) {
      <mat-list-option [value]="member.id"
        >{{ member.name | titlecase }}
        {{ member.surname | titlecase }}
      </mat-list-option>
    }
  </mat-selection-list>
} @else {
  <form class="mt-2">
    <mat-form-field>
      <mat-label>Users</mat-label>
      <input
        type="text"
        placeholder="Pick one"
        matInput
        [formControl]="searchForUser"
        [matAutocomplete]="auto" />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUser">
        @for (user of availableMembersOptions; track user) {
          <mat-option [value]="user"
            >{{ user.name }} {{ user.surname }}
          </mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
}
