<mat-tree
  [dataSource]="dataSource"
  [treeControl]="treeControl"
  class="bg-white">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <button mat-icon-button disabled>{{}}</button>
    {{ node.name }}
  </mat-tree-node>
  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodePadding
    class="d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <button
        mat-icon-button
        matTreeNodeToggle
        [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      {{ node.name }}
    </div>
    <button mat-icon-button>
      <mat-icon> add_box</mat-icon>
    </button>
  </mat-tree-node>
</mat-tree>
